<div class="admin">
    <div class="col-xs-10" id="admin">


        <div class="col-sm-4 col-lg-4">
          <div class="dash-unit">
            <dtitle>Active Users</dtitle>
            <hr>
            <div class="switch">
              <input type="radio" class="switch-input" name="view" value="week" id="week" checked>
              <label for="week" class="switch-label switch-label-off">Yes</label>
              <input type="radio" class="switch-input" name="view" value="month" id="month">
              <label for="month" class="switch-label switch-label-on">No</label>
              <span class="switch-selection"></span>
            </div>
          </div>
        </div>



                <div class="col-sm-6">
                  <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                      <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                  </div>
                </div>





    </div>
</div>
