<div class="home">

  <p class="literati">The Literati</p>

  <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1" id="login">
      <p class="log">Login</p>
      <div>
        <a href="/auth/facebook"><button type="button" class="btn btn-primary btn-lg" id="login-btn"><i class="fa fa-facebook" aria-hidden="true"></i></button></a>
        <a><button type="button" class="btn btn-danger btn-lg" id="login-btn"><i class="fa fa-google" aria-hidden="true"></i></button></a>
      </div>
    </div>

</div>
