.book-title {
  font-weight: bold; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: rgba(24, 24, 24, 0.86);
  border-color: rgba(24, 24, 24, 0.86) !important;
  color: white;
  font-family: 'Raleway'; }

a {
  color: white; }

.tab-content {
  display: none;
  margin-top: 1em; }
  .tab-content.show {
    display: block; }

.loading-state {
  font-size: 2em;
  text-align: center; }

.title {
  display: block;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 1em;
  padding: 10px;
  color: white; }

@media only screen and (max-width: 580px) {
  .title {
    font-size: 1em; } }

.img-responsive {
  display: block;
  margin: auto; }

.chat-box {
  font-family: 'Raleway';
  font-weight: 300;
  color: white;
  text-align: center;
  font-size: 1.2em; }

#textMessage {
  margin-top: 10px; }

textarea.form-control {
  height: 2.5em; }

.image-responsive {
  max-height: 400px; }

.list-group {
  text-align: left;
  max-height: 300px;
  overflow-y: auto; }

.list-group-item {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
  color: white; }

.new-message {
  padding-left: 70px; }

.message-body {
  margin: 0.8em 0; }

.message-from {
  font-weight: bold; }

.message-date {
  font-size: 0.8em; }

.message-photo {
  position: absolute;
  top: 10px;
  left: 15px; }

.botm {
  display: block;
  text-align: center;
  font-family: 'Megrim';
  font-size: 2.5em;
  color: white;
  padding: 5px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin; }

.form-group {
  margin-top: 20px; }

.poll-box {
  color: white; }

.question {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 1em;
  padding: 10px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin; }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/literati2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px; }

.literati {
  color: white;
  font-size: 6em;
  padding: 5px;
  font-family: 'Megrim';
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-bottom: 20px; }

@media only screen and (max-width: 580px) {
  .literati {
    font-size: 3.5em; } }

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: rgba(31, 30, 30, 0.76);
  height: 7em; }

#login-btn {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  margin: 5px; }

.log {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  padding: 8px; }

body {
  padding: 0px; }

.content {
  height: 100vh;
  margin: 0px;
  padding: 0px; }

.main-content {
  display: flex;
  height: 100vh;
  padding-top: 51px;
  justify-content: center;
  background-image: url("../../images/literati4.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.content-container {
  background-color: rgba(31, 30, 30, 0.76);
  border-radius: 10px;
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  padding: 1em 0;
  align-self: center;
  overflow-y: auto;
  color: white;
  font-family: 'Raleway'; }

.navbar {
  margin: 0px;
  padding: 0px;
  font-family: 'Megrim', sans-serif;
  border-radius: 0; }
  .navbar a {
    font-size: 1.2em; }
  .navbar .navbar-brand {
    font-size: 2.2em; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
