.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/geo.png");
  background-size: auto;
  background-repeat: repeat;
  min-height: calc(100vh - 51px);
  padding: 0px;
  font-family: 'Open Sans'; }

.book-title {
  font-weight: bold; }

#admin {
  background-color: white;
  min-height: 80vh;
  width: 80vw;
  margin: 0 auto; }
  #admin .container-fluid {
    padding-top: 1em;
    width: 100%; }
  #admin .nav.nav-tabs {
    display: block;
    width: 100%; }

.tab-content {
  display: none;
  margin-top: 1em; }
  .tab-content.show {
    display: block; }

.loading-state {
  font-size: 2em;
  text-align: center; }

.books {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/geo.png");
  background-size: auto;
  background-repeat: repeat;
  min-height: calc(100vh - 51px);
  padding: 0px; }

#book {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  padding: 10px;
  width: 80vw;
  min-height: 80vh;
  margin: auto; }

#book-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 80vh; }

.title {
  text-align: center;
  float: left;
  font-family: 'Open Sans';
  font-size: 1.5em;
  padding: 10px; }

@media only screen and (max-width: 580px) {
  .title {
    font-size: 1em; } }

.img-responsive {
  float: left;
  display: inline-block;
  max-width: 300px;
  max-width: 70vw; }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/literati1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px; }

.literati {
  color: white;
  font-size: 6em;
  padding: 15px;
  font-family: 'Megrim'; }

@media only screen and (max-width: 580px) {
  .literati {
    font-size: 3.5em; } }

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  height: 14em;
  border-radius: 20px; }

#login-btn {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  margin: 5px; }

.log {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5em;
  padding: 8px; }

body {
  padding: 0px; }

.content {
  height: 100vh;
  margin: 0px;
  padding: 0px; }

.main-content {
  display: flex;
  height: 100vh;
  padding-top: 51px;
  justify-content: center;
  background-image: url("../../images/geo.png");
  background-size: auto;
  background-repeat: repeat; }

.content-container {
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  padding: 1em 0;
  align-self: center;
  overflow-y: auto; }

.navbar {
  margin: 0px;
  padding: 0px;
  font-family: 'Megrim', sans-serif;
  border-radius: 0; }
  .navbar a {
    font-size: 1.1rem; }
  .navbar .navbar-brand {
    font-size: 1.5rem; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
