.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/geo.png');
  background-size: auto;
  background-repeat: repeat;
  min-height: calc(100vh - 51px);
  padding: 0px;
  font-family: 'Open Sans';
}

.book-title {
  font-weight: bold;
}

#admin {
  background-color: white;
  min-height: 80vh;
  width: 80vw;
  margin: 0 auto;

  .container-fluid {
    padding-top: 1em;
    width: 100%;
  }

  .nav.nav-tabs {
    display: block;
    width: 100%;
  }
}

.tab-content {
  display: none;

  &.show {
    display: block;
  }
}

.loading-state {
  font-size: 2em;
  text-align: center;
}
