.book-title {
  font-weight: bold;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: rgba(24, 24, 24, 0.86);
  border-color: rgba(24, 24, 24, 0.86) !important;
  color: white;
  font-family: 'Raleway';
}

a {
  color: white;
}

.tab-content {
  display: none;
  margin-top: 1em;

  &.show {
    display: block;
  }
}

.loading-state {
  font-size: 2em;
  text-align: center;
}
