.books {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/geo.png');
  background-size: auto;
  background-repeat: repeat;
  height: 93vh;
  padding: 0px;
}

#book {
  background-color: white;
  height: 80vh;
}
