.title {
  display: block;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 1em;
  padding: 10px;
  color: white;
}
@media only screen and (max-width: 580px) {
    .title {
        font-size: 1em;
    }
}

.img-responsive {
  display: block;
  margin: auto;
}

.chat-box {
  font-family: 'Raleway';
  font-weight: 300;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

#textMessage {
  margin-top: 10px;
}

textarea.form-control {
  height: 2.5em;
}

.list-group-item {
  color: black;
}

.botm {
  display: block;
  text-align: center;
  font-family: 'Megrim';
  font-size: 2.5em;
  color: white;
  padding: 5px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.form-group {
  margin-top: 20px;
}

.poll-box {
  color: white;
}

.question {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 1em;
  padding: 10px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;

}
