.books {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/dark.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 93vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}
