.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/literati2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;

}

.literati {
  color: white;
  font-size: 6em;
  padding: 5px;
  font-family: 'Megrim';
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-bottom: 20px;
}

@media only screen and (max-width: 580px) {
    .literati {
        font-size: 3.5em;
    }
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: rgba(31, 30, 30, 0.76);
  height: 7em;
  // border-radius: 20px;
}


#login-btn {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  margin: 5px;
}

.log {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  padding: 8px;
}
