body {
  padding: 0px;
}

.content {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.main-content {
  display: flex;
  height: 100vh;
  padding-top: 51px;
  justify-content: center;
  background-image: url('../../images/literati4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  background-color: rgba(31, 30, 30, 0.76);
  border-radius: 10px;
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  padding: 1em 0;
  align-self: center;
  overflow-y: auto;
  color: white;
  font-family: 'Raleway';
}
